@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

h1 {
    font-family: 'League Spartan', sans-serif;
}

#christ-logo {
    height: 5rem;
}

/* ... (your existing styles) ... */

/* Additional styles for the changes */
.font-smaller {
    font-size: 0.8rem;
}

#profiles {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px; /* Adjust this padding as needed */
}

#profiles .input-group {
    width: 100%; /* Ensure the search bar takes full width */
    max-width: 300px; /* Limit the width of the search bar if needed */
}

/* Glassmorphism profile cards */
.card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    transition: box-shadow .3s;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 20px; /* Add a gap below each card */
    padding: 15px; /* Add some padding for better spacing */
}

.card:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.card:hover .card-title {
    
    text-decoration: underline;
}

#socials {
    display: flex; /* Ensure the icons are displayed in a row */
}

#socials .btn-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    transition: transform 0.2s;
    margin-top: 15px;
    margin-right: -15px; 
}

#socials .fa-linkedin {
    color: #0A66C2;
}

#socials .btn-icon:last-child {
    margin-right: 0; /* Remove margin for the last icon */
}

#socials .btn-icon:hover {
    transform: scale(1.3);
}

#socials .btn-icon i {
    font-size: 1.5rem;
    color: black; /* Use 'black' instead of 'rgb(0, 0, 0)' for better readability */
}



/* Add this CSS for smooth scrolling */
html {
    scroll-behavior: smooth;
}
/* ... (rest of your styles) ... */
